/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
body {
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
    background: #000 url(../images/cover.jpg);
    background-position: 50% 25%;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.backgroundColor {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0 85px;
}
.header a {
    color: #FFFFFF;
    /*font-weight: bold;*/
}
/**.container {
    margin: 0 auto;
    width: 80%;
}**/
.mainNav {
    margin-bottom: 95px;
}
.mainNavUl {
    width: 52%;
}
.mainNavUl a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
.activeLi a{
    color: #5863F8;
}
.miniNavTitle {
    font-size: 42px;
    font-weight: bolder;
    line-height: 56px;
}
.miniNavLi:nth-child(1) {
    border-right: 1px solid white;
    padding-left: 0;
}
.miniNavLi {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
/* .miniNav {
    margin-bottom: 85px;
} */
.flex-row-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-row-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.aboutUs h4{
    font-size: 24px;
    text-transform: uppercase;
    color: #5863f8;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
}
.mainh3{
    font-size: 42px;
    color: #000000;
    margin-bottom: 35px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
}
/**.rooms{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}**/
.visitArrow {
    background-color: #5863F8;
    height: 100%;
}
.visitArrow a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0 23px;
}
.textArea {
    padding: 36px 16px;
    background-color: #F8F8F8;
    height: 100%;
}
.textArea span{
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
}
.textArea h3{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 10px;
}
.textArea p{
    font-size: 14px;
    color: #b1b1b1;
}
.row2item{
    max-height: 185px;
}
.roomImg {
    width: 30%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.checkIn {
    background-color: #F8F8F8;
    padding: 53px 0; 
}
.inputs {
   /** width: 80%;
    margin: 0 auto;**/
    padding-left: 24px;
    padding-right: 24px;
}
.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
} 
.labeltitle{
    margin-bottom: 10px;
    color: #5863f8;
}
.submit {
    background-color: #5863f8;
    color: #ffffff;
    padding: 5px 20px;
}
.thecolor {
    color: #5863f8!important;
    margin-bottom: 10px; 
}
.footer h6{
    color: #ffffff;
    font-weight: bold;
}
.footer p {
    margin-bottom: 10px; 
}